<h1>Portfolio</h1>
<p>Applications Deployed</p>

<% @apps.each do |web_app| %>
  <p><%= web_app.name %></p>
  <p><%= web_app.description %></p>
  <%= link_to web_app.url %>
  
  <% web_app.tags.each do |tag|%>
    <ul><%= tag.name %></ul>
  <% end %>

  <br><br><br>
<% end %>
