<div class="container">

  <h1 id="jisu">JISU KIM</h1>
  <h5 id="web">- Web Developer -</h5>

  <ol class="breadcrumb">
    <li class="active">
      Portfolio
    </li>
  </ol>

  <div class="row">
    <div class="col-sm-8">
      <ul class="list-unstyled">

        <%= render @apps %>

      </ul>
    </div>
    <div class="col-sm-4" id="monkey">
      <h2>Filter By:</h2>
      <ul class="list-unstyled">
        <% @tags.each do |tag| %>
          <li>
            <%= link_to tag.name, portfolio_path(filter: tag.name),
              class: 'label label-primary', id:"#{'showall' if tag.name == 'Show All'}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>