// Place all the styles related to the app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#showall {
  background-color: green;
}

#jisu {
  font-family: 'Philosopher', sans-serif;
  font-size: 400%;
  text-align: center;
}

#web {
  font-family: 'Philosopher', sans-serif;
  font-size: 200%;
  text-align: center;
}

#monkey {
  position: fixed;
  right: 0px;
  width: 33%;
}