<!DOCTYPE html>
<html>
<head>
  <title>JisuKimCom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- footer -->
  <div data-0="position:static; background-color: rgba(0, 0, 0,1);" data-top-top=" background-color: rgba(0, 0, 0,0.70); position: fixed; bottom: 0; box-shadow: 0 2px 4px rgba(51, 51, 51, .3); z-index:5000;" data-edge-strategy="set" class="skrollable skrollable-after" style="position: fixed; bottom: 0px; right:0px; -webkit-box-shadow: rgba(51, 51, 51, 0.298039) 0px 2px 4px; box-shadow: rgba(51, 51, 51, 0.298039) 0px 2px 4px; background-color: rgba(0, 0, 0, 0.701961); width: 100%; text-align: center">
    &nbsp&nbspMy open source code can be found at
    <a href="https://github.com/JisuKim82" target='_blank'>
      <img src="assets/github.png" alt="GitHub" width="25" height="25">
    </a>&nbsp&nbsp
    I can be reached at <a href="mailto:82k.jisu@gmail.com">82k.jisu@gmail.com</a>.&nbsp&nbsp
  </div>
<!-- end footer -->

</body>
</html>
